{
	"presets": [["@babel/preset-env", { "useBuiltIns": "entry", "targets": { "node": true}}], "@babel/preset-react"],
	"plugins": ["transform-class-properties",
		["@babel/plugin-transform-runtime",
	      {
	        "regenerator": true
	      }
	    ]]
}
